a.buttons {
  width: 50px;
  height: 30px;
  text-decoration: none;
  padding-top: 9px;
  color: #a675b3;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 15px auto;
  margin-top: 5px;
  margin-right: 7px;
  font: normal 17px arial;
  float: left;
}

a.buttons:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#3b2751, #271739);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}

a.buttons:not(.active):hover,
a.buttons:not(.active):focus {
  transition: color 200ms linear, text-shadow 500ms linear;
  color: #fff;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
a.buttons:not(:hover) {
    transition: 0.6s;
}

.form_calc{
    outline: 2px solid black;
    padding: 5px;
    width: 233px;
    margin-left: 40%;
    margin-right: 40%;
    position: absolute;
    background: #46394a;
}

.field{
  display: block;
  width: 100px;
  height: 30px;
  float:left;
  margin-top: 7px;
  margin-right: 1px;
  margin-left: 5px;
  outline: 2px solid #3b2751;
  background: white;
}

.row{
    margin-left: 5px;
    display: block;
    float: left;
}
